bleach==3.1.1
bump2version==1.0.0
certifi==2022.12.7
cffi==1.14.0
chardet==3.0.4
Click==7.0
cryptography==2.8
docutils==0.16
entrypoints==0.3
flake8==3.7.9
idna==2.8
importlib-metadata==1.5.0
jeepney==0.4.2
keyring==21.1.0
mccabe==0.6.1
pkginfo==1.5.0.1
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
Pygments==2.5.2
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
SecretStorage==3.1.2
six==1.14.0
tqdm==4.42.1
twine==3.1.1
urllib3==1.25.8
webencodings==0.5.1
zipp==2.2.0
